// variables colores
$colorprimario: #1f3253;
$colorletra: black;
$colorclaro: white;

//font sizes
$font-grande: 3rem;
$font-mediana: 1rem;
$font-chica: 0.9rem;

/*clases Globales*/

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: $font-mediana;
    width: 100%;
}

footer {
    background: $colorprimario;
    height: 10rem;
    margin-top: 10px;
    width: 100%;
    p {
        color: $colorclaro;
    }
    .btn-social {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
    }
}

.text-center {
    align-self: center;
    margin: auto;
    text-align: center !important;
}

.separador {
    margin: 0;
}

hr.prueba {
    margin: 1rem 0;
    background-color: $colorprimario;
    border: 5px solid $colorprimario;
    border-radius: 10px;
    opacity: 1;
}

.btn {
    background-color: $colorprimario;
    min-width: 200px;
}

.content {
    min-height: 100vh;
    margin-bottom: 30px;
}

h1 {
    color: $colorprimario;
    font-weight: 700;
    font-style: italic;
}

h3 {
    font-weight: 700;
}
h4 {
    font-weight: 300;
    color: red;
}
/*navbar*/

.navbar {
    margin-bottom: 5px;
    height: 55px;
}

.bg-dark {
    background-color: $colorprimario !important;
}

/*clases index*/

.logo {
    max-height: 200px;
    img {
        width: 100%;
    }
}

.margintop {
    margin-top: 30px;
}

#carousel .carousel,
#carousel .carousel-inner,
#carousel .carousel-item,
#carousel .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

#carousel {
    width: 100%;
    height: 80vh;
    background: $colorprimario;
    overflow: hidden;
    position: relative;
    margin: auto;
    color: white;
    .carousel-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h2 {
        margin-bottom: 20px;
        font-size: $font-grande;
        font-weight: 700;
    }
    p {
        width: 100%;
        font-size: $font-mediana;
        line-height: 1.2;
        margin: 0 auto 30px auto;
    }

    .carousel-inner {
        text-align: center;
    }

    .carousel-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 35%;
        top: auto;
        left: 0px;
        width: 100%;
        right: auto;
    }
}

.indexCursos {
    background-color: #acacac4d;
    padding: 100px;
}

.indexProt {
    background-color: #acacac77;
    padding: 50px;
}

/*clases Catalogo*/
#portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
    li {
        cursor: pointer;
        margin: 15px 15px 15px 0;
        display: inline-block;
        padding: 8px 24px;
        font-size: 12px;
        line-height: 20px;
        color: #555;
        border-radius: 50px;
        text-transform: uppercase;
        background: #fff;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
        border: 1px solid #444;

        &:hover {
            border-color: $colorprimario;
            background: $colorprimario;
            color: #fff;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    li.filter-active {
        border-color: $colorprimario;
        background: $colorprimario;
        color: #fff;
        &:hover {
            border-color: $colorprimario;
            background: $colorprimario;
            color: #fff;
        }
    }
}
.single-awesome-project {
    overflow: hidden;
    margin-bottom: 30px;
}

.awesome-img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    a {
        display: block;
        position: relative;
    }
    img {
        width: 100%;
    }
}

.single-awesome-project:hover .awesome-img > a::after {
    opacity: 1;
}

.single-awesome-project:hover .add-actions {
    opacity: 1;
    bottom: 0;
}

.awesome-img > a::after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
}

.add-actions {
    background: rgba(0, 0, 0, 0.089) none repeat scroll 0 0;
    bottom: 30px;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px 15px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.project-dec {
    display: block;
    height: 100%;
    width: 100%;

    a {
        display: block;
        height: 100%;
        width: 100%;
    }

    h4 {
        color: #ddd;
        font-size: $font-chica;
        margin-bottom: 5px;
        margin-top: -45px;
        padding-top: 50%;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
            color: rgb(168, 168, 168);
        }
    }

    span {
        color: #ddd;
        font-size: $font-chica;
        &:hover {
            color: rgb(168, 168, 168);
        }
    }
}

.producto {
    padding: 50px;
    img {
        width: 100%;
    }

    p {
        font-size: $font-chica;
        font-style: italic;
    }
}

/*seccion protocolos*/

.brazo {
    padding: 10px;
    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        color: $colorprimario;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        &:hover,
        &:focus {
            color: red;
        }
    }
    @media (prefers-reduced-motion: reduce) {
        .nav-link {
            transition: none;
        }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: #fff;
        background-color: $colorprimario;
    }

    h3 {
        background-color: $colorprimario;
        color: $colorclaro;
        margin-bottom: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-weight: 700;
    }
    h4 {
        font-weight: 300;
        color: red;
    }
    p {
        font-weight: 100;
    }
    li {
        font-weight: 100;
    }
    .prot {
        margin-bottom: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: 700;
    }
    .cierre {
        background-color: $colorprimario;
        color: $colorclaro;
        margin-bottom: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: 700;
    }
}

/*clases de Cursos*/

.cursos {
    img {
        width: 100%;
    }
    justify-content: space-around;
    // border: 1px solid black;
    border-radius: 4px;
    padding-bottom: 100px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.39);
    background-color: white;
    margin: 10px;
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 150%;
        font-weight: 400;
        font-style: italic;
    }
    li {
        font-weight: 100;
    }
}

/*clases Protocolo*/

/*clases contacto*/

.form-group {
    margin-bottom: 0.5rem;
    label {
        margin-bottom: 0.5rem;
    }
}

.fotoContacto {
    img {
        width: 100%;
        display: none;
    }
    display: none;
}
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* media querys*/
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1224px) {
    .fotoContacto {
        img {
            width: 100%;
            display: block;
        }
        display: block;
    }
}
