// variables colores
$colorprimario: #1f3253;
$colorletra: black;
$colorclaro: white;

//font sizes
$font-grande: 2rem;
$font-mediana: 1.5rem;
$font-chica: 1rem;

/*clases Globales*/

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

body {
    font-family: "Ubuntu Condensed", sans-serif;
    /*background-color: wheat;*/
    font-size: $font-mediana;
    font-weight: 300;
    width: 100%;
    /*background-image: url(../fotos/hoja1.jpg);*/
}

footer {
    background: $colorprimario;
    height: 10rem;
    margin-top: 10px;
    width: 100%;
    p {
        color: $colorclaro;
        font-size: 80%;
    }
}

.f-dark {
    color: $colorprimario;
}

.f-light {
    color: $colorclaro;
}

/*barra navegacion*/
.bg-dark {
    background-color: $colorprimario !important;
}

.text-center {
    align-self: center;
    margin: auto;
    text-align: center !important;
}
.font-clear {
    color: $colorclaro;
}

.principal {
    //border: 5px solid $colorprimario;
    border-radius: 10px;
    padding: 10px;
    font-size: $font-grande;
}

.separador {
    margin: 0;
}

hr.prueba {
    margin: 1rem 0;
    background-color: $colorprimario;
    border: 5px solid $colorprimario;
    border-radius: 10px;
    opacity: 1;
}

/*navbar*/

.navbar {
    margin-bottom: 10px;
}

/*seccion carrusel*/

#carousel .carousel,
#carousel .carousel-inner,
#carousel .carousel-item,
#carousel .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

#carousel {
    width: 100%;
    height: 80vh;
    background: $colorprimario;
    overflow: hidden;
    position: relative;
    margin: auto;
    color: white;
    .carousel-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h2 {
        margin-bottom: 20px;
        font-size: $font-grande;
        font-weight: 700;
    }
    p {
        width: 100%;
        font-size: $font-mediana;
        line-height: 1.2;
        margin: 0 auto 30px auto;
    }

    .carousel-inner {
        text-align: center;
    }

    .carousel-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 35%;
        top: auto;
        left: 0px;
        width: 100%;
        right: auto;
    }

    .btn-cat {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 32px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        color: $colorclaro;
        background: $colorprimario;
        flex-wrap: flex-end;
    }
}

/*clases index*/

.logo {
    img {
        width: 100%;
    }
}

.container__foto {
    iframe {
        width: 100%;
    }
}

.container--grande {
    position: flex;
    height: 100%;
    width: 100%;
    bottom: 10px;
    //background-image: url('https://placekitten.com/1200/800');
    //background-size: cover;
    //opacity: 0.75;
}

.fotoscat1 {
    transition: all 0.5s;
    height: auto;
}

.inglnk:hover {
    border: 2px solid darkblue;
}

.fotoscat1:hover {
    height: auto;
    transform: scale(1.1, 1.1);
}

.fotoscat1 {
    img {
        width: 100%;
    }
}

/*seccion protocolos*/

/*clases de Cursos*/

.cursos {
    margin: 0.3rem;
    img {
        width: 100%;
    }
    justify-content: space-around;
    // border: 1px solid black;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.39);
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 150%;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 4px;
    }
}

/*clases Protocolo*/

/*clases contacto*/

.btn {
    background-color: $colorprimario;
}

.form-group {
    margin-bottom: 0.5rem;
    label {
        margin-bottom: 0rem;
    }
}

.fotoContacto {
    img {
        width: 100%;
        display: none;
    }
    display: none;
}
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/*clases Catalogo*/
#portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
    li {
        cursor: pointer;
        margin: 15px 15px 15px 0;
        display: inline-block;
        padding: 8px 24px;
        font-size: 12px;
        line-height: 20px;
        color: #555;
        border-radius: 50px;
        text-transform: uppercase;
        background: #fff;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
        border: 1px solid #444;

        &:hover {
            border-color: $colorprimario;
            background: $colorprimario;
            color: #fff;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    li.filter-active {
        border-color: $colorprimario;
        background: $colorprimario;
        color: #fff;
        &:hover {
            border-color: $colorprimario;
            background: $colorprimario;
            color: #fff;
        }
    }
}
.single-awesome-project {
    overflow: hidden;
    margin-bottom: 30px;
}

.awesome-img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    a {
        display: block;
        position: relative;
    }
    img {
        width: 100%;
    }
}

.single-awesome-project:hover .awesome-img > a::after {
    opacity: 1;
}

.single-awesome-project:hover .add-actions {
    opacity: 1;
    bottom: 0;
}

.awesome-img > a::after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
}

.add-actions {
    background: rgba(0, 0, 0, 0.089) none repeat scroll 0 0;
    bottom: 30px;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px 15px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.project-dec {
    display: block;
    height: 100%;
    width: 100%;

    a {
        display: block;
        height: 100%;
        width: 100%;
    }

    h4 {
        color: #ddd;
        font-size: $font-chica;
        margin-bottom: 5px;
        margin-top: -45px;
        padding-top: 50%;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        &:hover {
            color: rgb(168, 168, 168);
        }
    }

    span {
        color: #ddd;
        font-size: $font-chica;
        &:hover {
            color: rgb(168, 168, 168);
        }
    }
}

.producto {
    align-items: center;
    justify-content: center;

    img {
        width: 100%;

        margin-top: auto;
        padding: 5%;
    }
    h3{
        font-size: $font-grande;
        font-weight: 800;
        color:$colorprimario;
        text-decoration: underline;
}
h4{
    font-size: $font-mediana;
    font-weight: 600;
    color:$colorprimario;
    text-decoration: underline;
}
p{
    font-size: $font-chica;    
    font-style: italic;
}
}

/* media querys*/
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1224px) {
    .fotoContacto {
        img {
            width: 100%;
            display: block;
        }
        display: block;
    }
}
