
// variables
$ancho:(
    grande: 720px,
    medio: 480px,
    chico:360px
); 
$alto: 100px;


$colorfondo: #1F3253;

@each $valor1, $valor2 in $ancho {
    .container__#{$valor1}{
        width: $valor2 ;
    }
}

/*clases Globales*/

body {
    font-family: "Ubuntu Condensed", sans-serif;
    /*background-color: wheat;*/
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
    /*background-image: url(../fotos/hoja1.jpg);*/
}



    


@for $i from 1 through 4 {
    h#{$i}{    
        font-size: 0.5rem+(1/$i);
        font-weight: 500;}

}


footer {
    background: $colorfondo;
    height: 10rem;
    p{
        color: white
    }
}

/*barra navegacion*/
.bg-dark {
    background-color: $colorfondo !important;
  }
  
/*seccion Catalogo*/
#catalogo {
    height: auto;
    margin-top: 40px;
    /*   border: 2px solid black;   */
}

#fotoscat {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10fr;
    justify-content: space-evenly;
}



.containerfoto {
    height: 100%;
    display: flex;
}

.containerfoto {
    img {
        width: 100%;
    }
}

.containerfoto {
    iframe {
        width: 100%;
    }
}

/*clases index*/

.logo {
    img {
        width: 100%;
    }
}

.container {
    width: 100%;
    
    position: relative;
}



.containergrande {

        
        position: relative; 
        height: 100%;
        width: 100%;
        //background-image: url('https://placekitten.com/1200/800');
        //background-size: cover;
        //opacity: 0.75;
        
        &::before {  
            content: "";
            background-image: url('../fotos/piernas.jpg');
            background-size: auto;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.50;
        }
      }
  

.fotoscat1 {
    transition: all 0.5s;
    height: auto;
}

.inglnk {
    margin-top: 20px;
    height: auto;
    color: #212529;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    color: #fff;
    background-color: $colorfondo;
    border: 2px solid $colorfondo;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    width: 300px;

    

    a {
        display: block;
        text-decoration: none;
        text-align: center;
        margin: auto;
        padding: 1px;
        color: white;
        font-size: 70%;
    }
}

.inglnk:hover {
    border: 2px solid darkblue;
}

.fotoscat1:hover {
    height: auto;
    transform: scale(1.1, 1.1);
}

.fotoscat1 {
    img {
        width: 100%;
    }
}

/*seccion Cursos*/

#cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

#infocurso {
    height: auto;
    overflow: auto;
    margin-left: 10px;
}

/*seccion protocolos*/
#protocolos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

#infoprotocolo {
    height: auto;
    margin: 10px;
}

/*clases de Contacto
*/

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.fotoContacto {
    margin: 10px;
    width: 50%;
    height: auto;
    display: none;
}

.fotoContacto img {
    width: 100%;
}

.botones {
    display: inline-block;
    flex-direction: row;
}

.botones input {
    background-color: #0d6efd;
    color: white;
}

/*clases Protocolo*/

.protocolos {
    display: grid;
    grid-template-areas:
        "brazo none protimg protimg"
        "brazo none protdet protdet";
    grid-template-rows: 50% 50%;
    grid-template-columns: 100px 5% auto 35%;
    height: 80vh;
    padding: 5px;
    margin-top: 0px;
}

.brazo {
    grid-area: brazo;
    margin: 0px;
    padding: 0px;
    background-color: $colorfondo;
}

.protimg {
    grid-area: protimg;
}

.protdet {
    grid-area: protdet;
}

.brazo {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
            display: block;
            text-decoration: none;
            text-align: center;
            margin: auto;
            padding: 1px;
            color: white;
        }
    }
}
/*clases catalogo*/

.catalogo {
    display: grid;
    grid-template-areas:
        "imagenescat imagenescat "
        "fotselect detailselect";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 80vh;
}

.imagenescat {
    grid-area: imagenescat;
    padding: 10px;
    margin-left: 10px;
}

.fotselect {
    grid-area: fotselect;
}

.detailselect {
    grid-area: detailselect;
}


/* media querys*/
@media only screen and (min-width: 768px) {
    #fotoscat {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        justify-content: space-evenly;
    }

    .inglnk a {
        width: 100%;
    }

    #protocolos {
        flex-direction: row;
    }

    #cursos {
        flex-direction: row;
    }

    #infocurso {
        max-width: 50%;
    }

    .fotoscursos1 {
        max-width: 720px;
    }
    .fotoContacto {
        display: block;
    }
}

@media only screen and (min-width: 1224px) {
    #fotoscat {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10fr;
        justify-content: space-evenly;
        font-size: 100%;
    }

    .inglnk a {
        width: 100%;
    }

    #protocolos {
        flex-direction: row;
    }

    #cursos {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #infocurso {
        max-width: 50%;
    }
    .fotoscursos1 {
        max-width: 1224;
    }
    .fotoContacto {
        display: block;
    }
}
